[Unit]
Description=Armbian-Monitor
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/root/monitor
ExecStart=/bin/bash /root/monitor/run.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target


